@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Signika+Negative:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



:root{

    /* Variavéis de cor */

    --cor1: #4b105e;
    --cor2: #802297;


    /* Variavéis de fontes */

    --fonte1: 'Righteous', cursive;

}

header{
    /*propriedades do display*/

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;

    /*propriedades de tamanho*/

    width: 100%;
    height: 70px;

    /*cores do header*/

    background-color: rgb(255, 255, 255);

    /*sombra do header*/

    box-shadow: 0px 5px 5px #aaaaaa35;

    z-index: 2;
}



.container-logo{
    display: flex;
    align-items: center;
}

.logo{

    /*propriedades das fontes*/
    
    font-family: 'Righteous', cursive;
    font-size: 2.8em;
    cursor: pointer;
}

li{
    display: inline-block;
}

.item-nav{
    font-family: 'Signika Negative', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    padding: 20px;
    letter-spacing: 2px;
    position: relative;
}


.item-nav:after{
    content: "";
    position: absolute;
    background-color: var(--cor1);
    height: 4px;
    left: 0;
    width: 0;
    bottom: -5px;
    transition: 0.5s ease-in;
}


.item-nav:hover:after{
    width: 100%;
}



main{
    width: 100%;
    height: 1000px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


/* Seção de boas vindas */

.greetings{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: -50px;
}

.greetings-container{
    margin-top: 30px;

    align-self: center;
    justify-self: center;

    background-color: rgb(241, 191, 222);

    width: 905px;

    border-radius: 5px;

    display: flex;
    justify-content: center;
    
    padding: 5px;
}

.p-greetings{
    align-self: center;
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: black;
}

.span-greetings{
    font-family: var(--fonte1);
    font-size: 24px;
}

.h3-top3{
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    font-family: var(--fonte1);
}


.slider-container{
    margin-top: 20px;

    width: 905px;
    height: 400px;

    background-color: cornflowerblue;


    justify-self: center;
    align-self: center;

    border-radius: 5px;

    display: flex;
    justify-content: center;
}

.slider-container > p{
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 32px;
}

.img{
    width: 905px;
    height: 310px;
    border-radius: 5px;
}

.cards-container{
    margin-top: 30px;

    height: 500px;

    display: flex;
    flex-direction: row;

    justify-content: center;
}

.card1{
    margin-right: 20px;
    height: 390px;
    width: 290px;
    background-color: var(--cor1);
    border-radius: 5px;

    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.151);
}

.card2{
    margin-right: 20px;
    height: 390px;
    width: 290px;
    background-color: var(--cor1);
    border-radius: 5px;

    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.151);
}

.card3{
    height: 390px;
    width: 290px;
    background-color: var(--cor1);
    border-radius: 5px;  
    
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.075);
}


.top1,
.top2,
.top3{
    background-color: var(--cor1);
    width: 60px;
    height: 60px;
    border-radius: 3px 0px 5px 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 1;
}

.top1,
.top2,
.top3 > p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: white;

}

.top1-vinho{
    width: 290px;
    height: 340px;
}

.top2-vinho{
    width: 290px;
    height: 340px;
}


.top3-vinho{
    width: 290px;
    height: 340px;
}

.p-top1,
.p-top2,
.p-top3{
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
    text-align: center;
}
































/* Seção do footer da página */

footer{
    background-color: var(--cor1);
    height: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;

}

/* Footer do meio */

.top-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 80%;
}

.top-footer1{
    width: 300px;
}

.top-logo-footer{
    font-family: 'Righteous', cursive;
    font-size: 48px;
    color: #FFFFFF;

    padding: 40px 0px 20px 0px;

    cursor: pointer;
}

.p-footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;


/* Espaçamento na parte inferior */

    padding-bottom: 20px;
}

.fa-phone-alt,
.fa-envelope,
.fa-clock{
    color: white;
    padding-right: 10px;
}



.top-footer2{
    width: 300px;
}

.top2-redes{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #FFFFFF;

    padding: 40px 0px 20px 0px;
}

.top2-redes-container{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.fa-instagram,
.fa-facebook,
.fa-twitter{
    font-size: 48px;
    color: white;
    padding: 0px 20px 0px 0px;
}

.fa-instagram:hover{
     color: var(--cor2);
     transition: 0.8s ease;
}

.fa-facebook:hover{
    color: var(--cor2);
    transition: 0.8s ease;
}

.fa-twitter:hover{
    color: var(--cor2);
    transition: 0.8s ease;
}









hr{
    align-self: center;
    width: 70%;
    border-color: #f1f1f115;
}



/* Parte de baixo do footer */

.b-footer{
    width: 100%;
    height: 20% ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-b-footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
}
